@model MVC.Models.Employee
@{
    ViewData["Title"] = "Delete";
}
<h1>Delete</h1>
<h4>Person</h4>
<hr />

<div class="alert alert-danger">
    <strong>Bạn có chắc chắn muốn xóa Person này?</strong>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">Full Name</dt>
        <dd class="col-sm-10">@Model.FullName</dd>

        <dt class="col-sm-2">Năm sinh</dt>
        <dd class="col-sm-10">@Model.NamSinh</dd>

        <dt class="col-sm-2">Địa chỉ</dt>
        <dd class="col-sm-10">@Model.DiaChi</dd>

        <dt class="col-sm-2">Trường</dt>
        <dd class="col-sm-10">@Model.Truong</dd>

        <dt class="col-sm-2">Chuyên ngành</dt>
        <dd class="col-sm-10">@Model.ChuyenNganh</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
